.h5p-row-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.h5p-row-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.h5p-row-content.h5p-row-content-fixed-width {
  flex-grow: 0;
  flex-shrink: 0;
}

@media (max-width: 480px) {
  .h5p-row-wrapper {
    flex-direction: column;
  }

  .h5p-row-content {
    width: 100% !important;
  }
}
